/* ========== Form Styles ========== */

.container-contact {
    display: flex;
    flex-direction: column;
    padding-top: 11rem;
    padding-bottom: 1rem;
    align-items: center;

}

.container-contact-form {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form {
    
    
    
}

.form-contact {
    display: flex;
    flex-direction: column;
}

.form-group {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
}

.contact-field-pos {
    width: 100%;
}

.form-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-actions > button:first-child {
    margin-right: 30px;
  }

