.search-btn-container {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.results-container {
    position: absolute;
    width: 100%;
    top: calc(80px + 1rem);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-container ul {
    margin-bottom: 1rem;
}

.result-container li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.fade-in {
    opacity: 0;
    animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.results-word {
    color: var(--color-accent);
    text-align: center;
}

.results-speech {
    color: var(--color-accent);
}

.span-main {
    color: var(--color-accent);
}

.results-strong {
    color: var(--color-accent)
}

