/* ========== Form Styles ========== */

.form-main {
    display: flex;
    width: 100%;
    justify-content: center;
}

.search-text-field-pos {
    width: 80%;
    max-width: 1000px;
    margin-bottom: 1rem;
}

.results-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.result-container ul {
    margin-bottom: 1rem;
}

.result-container li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.fade-in {
    opacity: 0;
    animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.results-word {
    color: var(--color-accent);
}

.results-speech {
    color: var(--color-accent);
}

.span-main {
    color: var(--color-accent);
}

.results-strong {
    color: var(--color-accent)
}

.loading-btn {
    margin-left: 5rem;
}
