/* ========== Error Styles ========== */

.error-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.error-message {
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.error-description {
    margin-bottom: 2rem;
}



.error-words {
    padding-top: 10rem;
    text-align: center;
    margin-bottom: 2rem;
}