.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 33rem);
    width: 80%;
    justify-content: center;
}

.search-container {
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}

.home-header {
    margin-bottom: 2rem;
}
