/* ---------- SearchButton.jsx ---------- */

.loading-btn {
    background-color: var(--color-primary);
    border-color: var(--color-accent);
    color: var(--color-accent);
    transition: all 0.3s ease;
    font-weight: bold;
  }
  
  .loading-btn:hover {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-white);
  }
  
  .loading-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(252, 81, 133, 0.5);
    border-color: var(--color-accent);
  }
  
  .loading-btn:active {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-white);
  }
  
  .loading-btn[disabled] {
    opacity: 0.6;
    pointer-events: none;
  }
  
  .loading-btn[disabled]:hover {
    background-color: var(--color-primary);
    border-color: var(--color-accent);
    color: var(--color-accent);
  }
  
  .loading-btn[disabled]:focus {
    box-shadow: none;
    border-color: var(--color-accent);
  }
  
  .loading-btn[disabled]:active {
    background-color: var(--color-primary);
    border-color: var(--color-accent);
    color: var(--color-accent);
  }
  
  .loading-indicator {
    color: var(--color-accent);
    margin-left: 10px;
  }
  
  .circular-progress-bar {
    color: var(--color-accent);
  }