/* ========== All Styles ========== */

:root {
    --color-secondary: #f7f7f7; /* off white */
    --color-light-gray: #bfbfbf;
    --color-primary: #333333; /* dark gray */
    --color-electric-blue: #00FFFF;
    --color-accent: #fc5185; /* bright pink */
    --color-hover: #FF7F50; /* bright orange */
    --color-black: #000000;
    --color-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/* ========== Font Styles ========== */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: light;
    font-style: normal;
}

/* ========== General Styles ========== */

body {
    font-family: 'Roboto', sans-serif;
    background: var(--color-primary);
    color: var(--color-secondary);
    line-height: 1.7;
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: 400;
    color: var(--color-accent);
}

@media screen and (max-width: 768px) {
    /* styles for screens with a maximum width of 768px */
}
